* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #222;
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    line-height: 1.6;
}

.omk-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0px;
}

.omk-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.project-image {
    width: 100%;
    max-width: 700px;
    height: 500px;
    border-radius: 20px;
    display: block;
    margin: 0 auto 40px auto;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.omk-description {
    text-align: justify;
    font-size: 1.05em;
    padding: 0 20px;
}

.back-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #555;
    font-size: 0.95em;
}

.back-link:hover {
    color: #000;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
font-size: 1.4em;
margin-top: 30px;
margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

.status {
  margin-top: 40px;
  font-style: italic;
  color: #666;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

footer a {
  color: #333;
  text-decoration: none;
}
